.section {
	width:800px;
	margin:100px auto;
	&>.title {
		color: #374533;
		font-size:40px;
		margin-bottom: 16px;
		&::after {
			display: inline-block;
			content: '';
			position: relative;
			left:4px;
			width:12px;
			height:12px;
			background-color: #0bb8ff;
			border-radius: 100%;
		}
	}
	&>.content {
		color:#aaa;
		font-size:19px;
		font-weight:bold;
	}
	&>img {
		width: 100%;
		height: auto;
		margin: 64px 0;
	}
}